.leftPanel {
    background: rgb(38, 115, 176);
    background: linear-gradient(90deg, rgba(38, 115, 176, 1) 35%, rgba(83, 169, 200, 1) 100%);
    padding: 20px;
    color: white;
}

.rightPanel {
    padding: 25px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.icon {
    color: #f67f1c;
    margin-right: 15px;
    font-size: 30px;
}

.instructorName {
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

.visible {
    display: block;
}