.texto-azul {
    background-color: #24395b;
    color: white;
    font-size: large !important;
    font-weight: bold !important;
    padding: 12px 15px;
    justify-content: center;
}

.input-producto {
    text-align: center !important;
    max-width: 100px !important;
    margin: 0 auto !important;
    left: 45px !important;
}

.boton-circular {
    margin: 0 auto;
    height: 40px;
    line-height: 40px;  
    width: 40px;  
    font-weight: bold;
    border-radius: 50%;
    background-color: #dbdbdb;
    text-align: center;
    cursor: pointer;
}

.boton-circular:hover {
    background-color: rgb(197, 197, 197);
}